@font-face {
  font-family: One;
  src: url(../font/1.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: Two;
  src: url(../font/2.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: Three;
  src: url(../font/3.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: Four;
  src: url(../font/4.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: Five;
  src: url(../font/5.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: Six;
  src: url(../font/6.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: Seven;
  src: url(../font/7.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: Eight;
  src: url(../font/8.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: Nine;
  src: url(../font/9.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: Ten;
  src: url(../font/10.woff2);
  font-weight: normal;
} 
@font-face {
  font-family: ElegantIcons;
  src: url(../font/ElegantIcons.woff);
  font-weight: normal;
} 
@font-face {
  font-family: fontawesome;
  src: url(../font/fontawesome-webfont.woff2);
  font-weight: normal;
} 
 * {
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif
}
ul {
	list-style-type: none;
}
li {
	display: inline;
}
h5 {
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif
}
p {
	color: black;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif
}
.head__info__wrap {
	background-color: #0E0E0E;
	width: 100%;
}
.head__info {
	background-color: #0E0E0E;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: 1100px;
	margin: auto;
	font-weight: 500;
	font-size: 11px;
	letter-spacing: 1px;
	text-transform: uppercase;
	line-height: 30px;
	height: 38px;
}
.head__info__left {
	width: 50%;
	display: flex;
	align-self: center;
}
.head__info__left__wrap__one:before {
	font-family: 'ElegantIcons', sans-serif;
	content: "\e081";
}
.head__info__left__wrap__two:before {
	font-family: 'ElegantIcons', sans-serif;
	content: "\e090";
	margin-left: 25px;
}
.head__info__right {
	width: 50%;
	display: flex;
	align-self: center;
	justify-content: flex-end;
}
.head__info__right__text *:hover {
	transition: color .15s ease-out;
	color: rgb(234, 145, 149);
	cursor: pointer;
}
.head__info__right__text {
	display: flex;
	justify-content: space-between;
	text-transform: uppercase;
}
.head__info__right__text ul{
	list-style-type: none;
}
.head__info__right__text li{
	display: inline;
	padding: 0 6px;
}
.head__info__right__social a {	
	font-family: ElegantIcons, serif;
	text-decoration: none;
    cursor: pointer;
    font-size: 12px;
}
.head__info__right__social *:hover {
	transition: color .15s ease-out;
	color: rgb(234, 145, 149);
	cursor: pointer;
}
.facebook {
	margin: 0px 4px 0px 15px;
}
.facebook:before {
	content: "\e093";
}
.twitter:before {
	content: "\e094";
	margin: 0 0 0 4px;
}
.pinterest:before {
	content: "\e095";
	margin: 0 0 0 4px;
}
.instagram:before {
	content: "\e09a";
	margin: 0 0 0 4px;
}
/*END OF BLACK LINE--------------*/
.head__menu__wrap {
	background-color: #fff;
	width: 100%;
	color: black;
	position: relative;
}
.head__menu {
	max-width: 1100px;
	height: 76px;
	display: flex;
	justify-content: space-between;
	margin: auto;
}
.head__menu__logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.head__menu__logo img {
	max-height: 68.4px;
}
.head__menu__other {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.head__menu__other ul {
	list-style-type: none;
}
.head__menu__other li {
	display: inline;
	padding: 0 15px; 
}
.head__menu__other a {
	line-height: 15px;
	font-weight: 600;
	font-size: 13px;
	color: black;
	text-decoration: none;
	cursor: pointer;	
	text-transform: uppercase;
}
.head__menu__other a:hover {
	color: #EA9195;
	transition: text-decoration .2s ease-out,border-color .2s ease-out,background-color .2s ease-out;
	cursor: pointer;
}
.head__menu__other__icon {
	display: flex;
	justify-content: space-between;
}
.head__menu__other__search {
    color: #0e0e0e;
    font-size: 15px;
    margin-right: 12px;
    margin-left: 5px;
    padding-left: 23px;
	border-left: 1px solid #d7d7d7;
}
.head__menu__other__search:after {
	font-family: fontawesome;
	content: "\f002";
}
.head__menu__other__search:hover {
	color: #ea9195;
	transition: all .15s ease-out;
	cursor: pointer;
}
.head__menu__other__cart {
	color: black;
	padding: 0 10px 0 0;
}
.head__menu__other__cart span {
	color: black;
	font-size: 11px;
}
.head__menu__other__cart:before {
	font-family: ElegantIcons;
	content: "\e07a";
}
.head__menu__other__cart:hover {
	color: #ea9195;
	transition: all .15s ease-out;
	cursor: pointer;
}
.head__menu__other__burger {
	color: black;
}
.head__menu__other__burger:before {
	font-family: fontawesome;
	content: "\f0c9";
}
.head__menu__other__burger:hover {
	color: #ea9195;
	transition: all .15s ease-out;
	cursor: pointer;
}
/*.drop__one {
	display: none;
}
.head__menu__other__drop {
	color: #fff;
	background-color: black;
	position: absolute;
	top: 76px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.head__menu__other__drop ul li a {
	padding: 0px;
	margin: 0px;
}
.head__menu__other__drop a {
	text-transform: capitalize;
	font-family: Raleway, sans-serif;
	font-weight: 400;
	color: #b4b4b4;
	line-height: 19px;
}
.head__menu__other__drop li {
	display: flex;
	padding-top: 6px;
    padding-right: 30px;
    padding-bottom: 6px;
    padding-left: 30px;
}
.head__menu__other__drop a:hover {
	cursor: pointer;
	color: #fff;
	transition: color 5s ease-out;
}
.head__menu__other>ul>li:hover>.drop__one {
	display: block;
	transition: .15s ease-out;
}*/
/*-----SLIDER--!!!!-!!!!!!---!!!!--------------*/
.content__wrapper {
	display: flex;
	flex-direction: column;
}
.head__slider {
	height: 660px;
	width: 100%;
	overflow: hidden;
}
.head__slider img {
	width: 100%;
 	margin-top: -100px;
}
.content__main {
	width: 1100px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-self: center;
}
.content__main__categories {
	display: flex;
	flex-direction: column;
}
.content__main__categories>a {
	display: flex;
	justify-content: center;
	padding-top: 39px;
	padding-bottom: 24px;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
}
.content__main__shopBanner {
	display: flex;
	justify-content: space-between;
}
.content__main__shopBanner__one, .content__main__shopBanner__two, .content__main__shopBanner__three {	
	position: relative;
}
.content__main__shopBanner img {
    height: 260px;
    width: 347px;
}
.bg_line {
	height: 50px;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 210px;
    left: 0px;
}
.content__main__shopBanner a {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    position: absolute;
    top: 225px;
    left: 20px;
    letter-spacing: 2px;
}
.content__main__shopBanner a:after {
	font-family: fontawesome;
	font-size: 30px;
	content: "\f105";
	text-align: right;
	position: absolute;
	left: 175%;
/*	top: 0%;*/
}
.content__main__newArrivals__head, .content__main__whatsNew__head {
	margin-top: 30px;
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}
.content__main__newArrivals__head h4 , .content__main__whatsNew__head h4{
	display: inline-flex;
	color: #0e0e0e;
	letter-spacing: 1.2px;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.line__left {
    content: "";
    width: 42%;
    height: 1px;
    margin-top: 12px;
    background-color: #868686;
}
.line__right {
    content: "";
    width: 42%;
    height: 1px;
    margin-top: 12px;
    background-color: #868686;	
}
/*.content__main__newArrivals__head:before {
	content: "<hr>";
	width: 100%;
    color: #868686;
}
.content__main__newArrivals__head:after {
	content: "<hr>";
	width: 100%;
	color: #868686;
}*/
.content__main__newArrivals__item {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	color: black;
}
.content__main__newArrivals__item * {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
 }
.img__NerArrivals>a>img {
	max-height: 383px;
	max-width: 258px;
	position: relative;
}
.span__strikeOut {
	text-decoration: line-through;
}
.img__NerArrivals {
	margin-top: 34px;
}
.description__NerArrivals {
	text-align: center;
    font-size: 13px;
    margin-top: 17px;
    color: #0e0e0e;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: Poppins,sans-serif;
}
.description__NerArrivals>a>span {
	font-size: 14px;
    line-height: 1em;
    font-weight: 400;
    display: block;
    color: #0e0e0e;
    width: 100%;
    font-style: italic;
    font-family: Georgia,sans-serif;
    text-align: center;
    margin-top: 3px;
}
.content__main__newArrivals__learnMore {
	background-image: url(../img/call-to-action-1.jpg);
	width: 1100px;	
	height: 135px;
	margin-top: 35px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.content__main__newArrivals__learnMore p {
	margin-left: 40px;
	font-size: 16px;
	line-height: 1.7em;
    font-weight: 400;
}
.learnMore__Btn {
	height: 50px;
	width: 185px;
	background-color: #0e0e0e;
	margin-right: 40px;
	text-transform: uppercase;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content__main__whatsNew {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.content__main__whatsNew__banner {
	background-image: url(../img/Home-Shop-Single-Image-3-1.png);
	width: 1100px;
	height: 216px;
	margin-top: 30px;
}
.content__main__whatsNew__newsRowOne {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 70px;
	margin-bottom: 25px;
	max-height: 157px;
}
.content__main__whatsNew__newsRowTwo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 35px;
	max-height: 157px;
}
.news {
	width: 366.6666px;
	/*height: 145px;*/
	display: flex;
}
.news span {
	color: black;
	font-size: 14px;
	color: #999;
	font-family: Georgia,sans-serif;
    font-style: italic;
    margin-bottom: 10px;
}
.news h5 {
	font-size: 16px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: uppercase;
}
.news p {
	margin: 4px 0 0;
	font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}
.news__wrapper {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
}
.news__img1 {
	background-image: url(../img/blog-standard-image-6-70x55.jpg);
	width: 70px;
	height: 55px;
}
.news__img2 {
	background-image: url(../img/blog-standard-image-11-70x55.jpg);
	width: 70px;
	height: 55px;
}
.news__img3 {
	background-image: url(../img/blog-standard-image-1-70x55.jpg);
	width: 70px;
	height: 55px;
}
.news__img4 {
	background-image: url(../img/blog-standard-image-8-70x55.jpg);
	width: 70px;
	height: 55px;
}
.news__img5 {
	background-image: url(../img/blog-standard-image-3-70x55.jpg);
	width: 70px;
	height: 55px;
}
.news__img6 {
	background-image: url(../img/blog-standard-image-4-70x55.jpg);
	width: 70px;
	height: 55px;
}
/*---------------BOTTOM GALERY*/
.content__main__gallery {
	margin-top: 125px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.content__main__gallery>a>img {
	height: calc(2114px / 8);
	width: auto;
	margin: 0;
}
.content__main__gallery>a>img:hover {
	background-color: rgba(0,0,0,0.9);
	transition: all 0.5s ease-out;
}
/* ------FOOOOTEEEER */
footer {
	background-color: #0e0e0e;
}
.footer__info a span p {
	color: black;
}
.footer__info {
	width: 1110px;
	margin: auto;
	display: flex;
	justify-content: space-between; 
	margin-top: 55px;
}
.footer__info__col1, .footer__info__col2, .footer__info__col3, .footer__info__col4 {
	width: 250px;
	height: 400px;
	display: flex;
	flex-direction: column;
}
.footer__info__col1__TEXT>p {
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
	font-family: Raleway,sans-serif;
	margin-top: 30px;
	color: #7b7b7b;
}
.footer__info__col1__HEAD>a>img	{ 
	max-height: 68.4px;
}
.footer__info__col2__HEAD, .footer__info__col3__HEAD, .footer__info__col4__HEAD {
	margin: 4px 0 14px;
    font-size: 14px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2.6px;
}
.head__margin {
	margin-bottom: 38px;
}
/* .footer__info__col3__CONTENT:nth-child(9) {
	margin-top: 20px;
} */
.footer__info__col3__text {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-top: 6px;
}
.footer__info__col3__twitterIcon>span {
	font-size: 14px;
    color: #ea9195;
}
.footer__info__col4__CONTENT {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 6px;
}
.footer__info__col4__CONTENTimg {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer__info__col4__CONTENTimg1 {
	background-image: url(../img/1.jpg);
	background-size: 81px 81px;
	height: 81.48px; 
	width: 81.48px;
}
.footer__info__col4__CONTENTimg2 {
	background-image: url(../img/2.jpg);
	background-size: 81px 81px;
	height: 81.48px; 
	width: 81.48px;
}
.footer__info__col4__CONTENTimg3 {
	background-image: url(../img/3.jpg);
	background-size: 81px 81px;
	height: 81.48px; 
	width: 81.48px;
}
.footer__info__col4__CONTENTimg4 {
	background-image: url(../img/4.jpg);
	background-size: 81px 81px;
	height: 81.48px; 
	width: 81.48px;
}
.footer__info__col4__CONTENTimg5 {
	background-image: url(../img/5.jpg);
	background-size: 81px 81px;
	height: 81.48px; 
	width: 81.48px;
}
.footer__info__col4__CONTENTimg6 {
	background-image: url(../img/6.jpg);
	background-size: 81px 81px;
	height: 81.48px; 
	width: 81.48px;
}
.footer__info__col4__SOCIAL {
	margin-top: 32px;
}
.footer__info__col4__SOCIAL span { 
	color: #b7b7b7;
	font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
}
.footer__info__col4__SOCIAL a  {
	font-family: Raleway,sans-serif;
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	 }
.gift__icon:after {
	font-family: ElegantIcons, sans-serif;
	content: "\e008";
}
.doc__icon:after {
	font-family: ElegantIcons, sans-serif;
	content: "\e013";
}
.card__icon:after {
	font-family: ElegantIcons, sans-serif;
	content: "\e014";
}
.nacelle__icon:after {
	font-family: ElegantIcons, sans-serif;
	content: "\e015";
}
.globe__icon:after {
	font-family: ElegantIcons, sans-serif;
	content: "\e0e3";
}
.head__info__right__social__footer {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 102px;
}
.head__info__right__social__footer a {
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	margin-left: -2px;
}
.footer__info__col2__text {
	height: 37px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #353535;
	font-size: 13px;
}
.footer__info__col2__text span {
	width: 33px;
}
.animation {
	font-size: 13px;
	line-height: 25px;
	font-weight: 400;
	text-decoration: none;
	font-family: Raleway,sans-serif; 
}
.time {
	display: inline-block;
	color: #7b7b7b;
}
.animation:hover {
	transition: color .15s ease-out;
	color: rgb(234, 145, 149);
	cursor: pointer;
}

.footer__info__col3__twitterText {
	margin-left: 10px;
}
.footer__info__col3__twitterText span  {
	font-family: Raleway,sans-serif;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0;
	font-weight: 400;
	color: #7b7b7b;
}
.footer_copyright {
	background-color: #1C1C1C;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 62px;
}
.footer_copyright a {
	text-decoration: none;
	font-family: Raleway,sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
 }