body {
	background-color:#fffefe;
}
	
#reset {
	border:solid 1px rgb(206, 100, 140);
	background-color:#bbdb2e;
	color: rgb(240, 71, 71);
	margin-top: 5px;
}
	
td {				
	text-align:center;				
	font-family:Times New Roman;
	color: rgb(16, 44, 172);
	vertical-align: middle;				
}
#box td {
	border:solid 1px rgb(138, 34, 34);
	text-align:center;
	font-size:40px;
	font-family:Times New Roman;
	color: rgb(89, 175, 32);
	width: 55px;
	height: 55px;
}

#box td:hover {
	color:rgb(102, 71, 71);
	cursor: hand;
}
