*{
    background-color: black;
    color: gray;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input {
    color: #2D2D2D;
  }

  .nav {
      margin-bottom: 2rem;
  }



.contol_panel {
    display: flex;
    align-items: center;
    flex-direction: column;

}
.previev  {
    display: flex;
    flex-direction: column;
    align-self: center;
}



